
# Testing app
app/

# Build outputs
/build
app/build
*.apk
*.aab

# Gradle
.gradle
/gradle/wrapper/gradle-wrapper.jar

# Local config
local.properties
gradle.properties.local

# Android Studio / intellij
*.iml
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Native builds
.externalNativeBuild
.cxx

# OS files
.DS_Store
Thumbs.db

# Captures
/captures